/* .signup-wrapper{
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.signup-wrapper{
    background-color: #aeb8ee;
    background-image: url("../../assets/images/bgg2.jpg");
    
}
.signup-inner{
    background-color: #fff;
    width: 60%;
    min-width: 70%;
    color: #000 !important;
}
.form-control{
    background: transparent;
}

#paln{
	max-width: 40%;
}

#btn1{
	padding: 8px;
	padding-left: 25px;
	padding-right: 25px;
}