<app-navbar></app-navbar>
<!-- <div class="container-fluid profile-wrapper bg-light">
    <div class="container profile-inner text-light p-3" style="border-radius: 25px;">
        <div class="card-body p-md-5">
            <h1 class="display-4 fw-bold text-center text-dark pb-3">Profile Details</h1>
            <h6 class="display-6 text-dark text-center pb-3">Name: {{teleuser.name}} </h6>
            <h6 class="display-6 text-dark text-center pb-3">
                Contact: {{teleuser.contactNumber}}</h6>
            <h6 class="display-6 text-dark text-center pb-3">Email: {{teleuser.userMail}} </h6>
            <h6 class="display-6 text-dark text-center pb-3">Address: {{teleuser.address}} </h6>
            
    </div>
</div> -->

<!-- <section class="vh-75" style="background-color: #fff">
    <div class="container py-5 h-100">
        <h1 class="display-4 text-center p-5">Profile Details</h1>
      <div class="row d-flex justify-content-center align-items-center h-100" >
        <div class="col col-lg-6 mb-6 mb-lg-0" >
          <div class="card p-md-5" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="../assets/images/profile.png"
                  alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                <h5>{{teleuser.name}} </h5>
    
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">{{teleuser.userMail}}</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Username</h6>
                        <p class="text-muted">{{teleuser.username}}</p>
                      </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">{{teleuser.contactNumber}}</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Address</h6>
                        <p class="text-muted">{{teleuser.address}}</p>
                      </div>
                      
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br><br> -->

  <!-- <section style="background-color:#aeb8ee; ">

    <h1 class="display-4 text-center p-5">Profile Details</h1>
  <div class="container py-5">
    <div class="row">
      <div class="col">
        
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="../assets/images/profile1.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 120px;">
            <h5 class="my-3">{{teleuser.name}}</h5>
            <p class="text-muted mb-1">Telecom User</p>
            <p class="text-muted mb-4">{{teleuser.address}}</p>
            
          </div>
        </div>
        
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{teleuser.name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Username</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{teleuser.username}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{teleuser.userMail}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{teleuser.contactNumber}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{teleuser.address}}</p>
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</section> -->